# Ignore Gradle project-specific cache directory
# Ignore Gradle build output directory
.gradle
**/build/
!src/**/build/

# JetBrains IDE
.idea/

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# IntelliJ
out/